<html>
<head>
    <title>Title</title>
</head>
<body>
<h4 style="color: aquamarine">

    <bold>{{exception.getMessage}}</bold>
</h4>
<ul>
    <c:forEach items="${exception.getStackTrace() }" var="stack">
        <li><c:out value="${stack}" /></li>
    </c:forEach>
</ul>
</body>
</html>