<html>
<head>
    <title>Title</title>
</head>
<body>
<h3 style="color: darkslateblue">
{{#exception}}
    <bold>{{exception.getMessage}}</bold>
{{/exception}}
{{^exception}}
    <bold>ERROR PAGE</bold>
{{/exception}}
</h3>
<ul>

</ul>
</body>
</html>