{{>layout/header}}
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>회원가입</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>회원가입</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>회원가입</h4>
                <form>
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="checkout__input">
                                <p>Email(id)<span>*</span></p>
                                <input type="text" id="email" name="email">
                            </div>
                            <div class="checkout__input">
                                <p>Password<span>*</span></p>
                                <input type="password" id="password" name="password">
                            </div>
                            <div class="checkout__input">
                                <p>이름</p>
                                <input type="text" id="name" name="name">
                            </div>
                            <div class="checkout__input">
                                <p>핸드폰</p>
                                <input type="text" id="tel" name="tel">
                            </div>
                            <div class="checkout__input">
                                <p>주소</p>
                                <input type="text" id="addr" name="addr">
                            </div>
                            <div class="checkout__input">
                                <p>생년월일</p>
                                <input type="text" id="birth" name="birth">
                            </div>
                            <div class="checkout__input">
                                <p>계좌</p>
                                <input type="text" id="account" name="account">
                            </div>
                            <div class="checkout__input">
                                <button type="button" id="signup" class="site-btn">등록</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{{>layout/footer}}