<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanshin.shop.repository.CartMapper">
    <resultMap id="cartMap" type="com.hanshin.shop.entity.cart.CartVO">
        <id property="id" column="id" />
        <id property="userId" column="user_id" />
        <id property="goodsId" column="goods_id" />
        <id property="price" column="price" />
        <id property="goodsName" column="goods_name" />
        <id property="amount" column="amount" />
        <collection property="attachList" resultMap="attachMap"></collection>
    </resultMap>

    <resultMap id="attachMap" type="com.hanshin.shop.entity.goods.GoodsAttachVO">
        <result property="uuid" column="uuid" />
        <result property="uploadPath" column="upload_path" />
        <result property="fileName" column="file_name" />
        <result property="goodsId" column="goods_id" />
    </resultMap>

    <delete id="delete">
        delete from cart where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete from cart where user_id = #{userId}
    </delete>

    <insert id="insert">
        insert into cart(goods_id, amount, user_id)
        values(#{goodsId}, #{amount}, #{userId})
    </insert>

    <select id="isExistCartOne" resultType="com.hanshin.shop.entity.cart.CartVO">
        select id, goods_id, user_id, amount
        from cart
        where goods_id = #{goodsId} and user_id = #{userId}
    </select>

    <update id="update">
        update cart set amount = #{amount} where id = #{id};
    </update>

    <select id="findAll" resultMap="cartMap">
        <include refid="findAll" />
        where u.id = #{userId}
    </select>

    <sql id="findAll">
        select c.id, c.goods_id, g.price, g.name goods_name, c.amount, a.uuid, a.upload_path, a.file_name
        from cart c
                 join goods g on c.goods_id = g.id
                 join user u on c.user_id = u.id
                 join attach a on g.id = a.goods_id
    </sql>


</mapper>